/* base/variables.css */
:root {
    /* */
  --primary-color: #1F81DA;
  --secondary-color: #FFFFFF;

  /* colors */
  --M3-sys-light-on-surface: #1D1B20;
  --Schemes-On-Surface: #1D1B20;

  /* Display Large */
  --Display-Large-Font: Roboto;
  --Display-Large-Size: 57px;
  --Display-Large-Line-Height: 64px;
  --Display-Large-Tracking: -0.25px;

  /* Display Medium */
  --Display-Medium-Font: Roboto;
  --Display-Medium-Size: 45px;
  --Display-Medium-Line-Height: 52px;
  --Display-Medium-Tracking: 0px;

  /* Display Small */
  --Display-Small-Font: Roboto;
  --Display-Small-Size: 36px;
  --Display-Small-Line-Height: 44px;
  --Display-Small-Tracking: 0px;
    
}