/* layout/hero-section.css */

.intro-text {
    grid-area: intro-text; /* Mapeia para a área do grid */
    align-self: start; /* Alinha ao início da célula verticalmente */
    justify-self: start; /* Alinha à esquerda da célula horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem; /* Responsivo conforme ajustes */
    padding-right: 31.5px;
    padding-top: 140px;
}

#intro-highlight {
    color: var(--primary-color);
}

.intro-image {
    grid-area: intro-image; /* Mapeia para a área do grid */
    align-self: start; /* Alinha ao início da célula verticalmente */
    justify-self: end; /* Alinha à direita da célula horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 567px;
    height: auto;
    padding-left: 31.5px;
    padding-top: 140px;
}

#planning-img {
    width: 100%; /* Ajusta a largura da imagem para 100% do seu container */
    max-width: 560px; /* Define o tamanho máximo da imagem */
    height: 322.82px;
    object-fit: cover; /* Faz com que a imagem cubra todo o container, mantendo a proporção */
}
