.page__stats { 
    /* Layout */    
    display: flex;
    padding: 0rem 8.78%;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    
    /* Style */
    background-color: var(--md-sys-color-secondary-container);
}

.stats__item {
    display: flex;
    height: 17rem;
    max-width: 25.95rem;
    /* padding: 3.75rem 2.8125rem 3.75rem 0rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
}

.stats__value {
    color: var(--md-sys-color-on-secondary-container);
    font-weight: var(--font-weight-medium);
    text-align: center;
}

.stats__label {
    color: var(--md-sys-color-on-secondary-container);
    font-weight: var(--font-weight-medium);
    text-align: center;
}