.page__stats { 
    display: flex;
    padding: 0rem 21.075rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    
    background: var(--Schemes-Surface-Container, #F3EDF7);
}

.stats__item {
    display: flex;
    height: 17rem;
    padding: 3.75rem 2.8125rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.stats__value {
    
}