/* layout/grid.css */

.page__main {
    display: grid;
    grid-template-areas: 
        "intro intro intro intro intro intro"
        "logos-description logos-description logos-description logos-description logos-description logos-description"
        "features features features features features features"
        "stats stats stats stats stats stats"
        "testimonials testimonials testimonials testimonials testimonials testimonials";
    grid-row-gap: 30px;
    justify-content: center;
    grid-template-columns: calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6); /* Ajusta a largura das colunas considerando o padding */
}

/* hero-section */

.intro {
  grid-area: intro;
}

/*  */

.logos {
    grid-area: logos;
}

/*  */

.description {
  grid-area: description;
}

/*  */

.features {
    grid-area: features;
}

/*  */

.stats {
    grid-area: stats;
}

.testimonials {
    grid-area: testimonials;
}
