/* layout/header.css */

header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
  height: 45px;
  padding-left: 8.65vw;
  padding-right: 8.65vw;
}

.header__logo {
  flex: 1; /* Garante que o logo ocupe o espaço necessário */
  height: 100%;
}

.header__nav {
    display: flex; 
    align-items: center;
    gap: 1rem; /* Adiciona espaçamento entre os botões */
    height: 100%;
    weight: auto;
}