/* layout/body.css */

.page {
    /* Layout */
    display: flex;
    padding-top: 4.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    width: 100%;
    
    /* Style */
    background: var(--md-sys-color-surface);
}

.page__main {
    padding-top: 5.625rem;
    width: 100%;
}

@media (max-width: 834px) {
    .page {
        padding-top: 2.03125rem;
    }
    
    .page__main {
        padding-top: 2.8125rem;
    }
}

@media (max-width: 412px) {
    .page__main {
        padding-top: 0rem;
    }
}