/* layout/body.css */

body {
    height: 100%;
    padding-bottom: 0;
}

.page {
    /* Layout */
    display: flex;
    padding-top: 4.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
    
    /* Style */
    background: var(--md-sys-color-surface);
}

