/* layout/body.css */

.page {
    /* Layout */
    display: flex;
    padding-top: 4.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
    
    /* Style */
    background: var(--md-sys-color-surface);
}

.page__main {
    display: flex;
    padding-top: 5.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
}


.icon {
    font-family: 'Material Symbols Outlined';
}