/* Primary Button */
.button--primary {
    transition: box-shadow 0.2s ease; /* Definir apenas o necessário */
}

.button--primary:hover,
.button--primary:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.15); /* Simplificação nos valores */
    outline: none; /* Remove o outline padrão */
}

.button--primary .button__container {
    transition: background 0.2s ease; /* Definir transição consistente */
}

.button--primary .button__container:hover {
    background: var(--second-color-opacity-08); /* Uso da variável para consistência */
}

.button--primary .button__container:focus,
.button--primary .button__container:active {
    background: var(--second-color-opacity-12);
}

/* Outlined Button */
.button--outlined {
    transition: border 0.2s ease, background 0.2s ease; /* Apenas transições relevantes */
}

.button--outlined:focus,
.button--outlined:active {
    border: 1px solid var(--primary-color); /* Define borda consistente */
    outline: none;
}

.button--outlined .button__container {
    transition: background 0.2s ease;
}

.button--outlined .button__container:hover {
    background: var(--primary-color-opacity-08);
}

.button--outlined .button__container:focus,
.button--outlined .button__container:active {
    background: var(--primary-color-opacity-12);
    border-color: var(--primary-color); /* Correção na propriedade para consistência */
}

/* Text Button */
.button--text {
    transition: box-shadow 0.2s ease; /* Consistência na transição */
}

.button--text:hover,
.button--text:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.15); /* Simplificação nos valores */
    outline: none;
}

.button--text .button__container {
    transition: background 0.2s ease;
}

.button--text .button__container:hover {
    background: var(--primary-color-opacity-08);
}

.button--text .button__container:focus,
.button--text .button__container:active {
    background: var(--terciary-color-opacity-12);
}

/* Button Icon Interactions */
.button--icon:focus {
    outline: none; /* Remove o outline padrão */
    border-radius: 50%; /* Garantia de formato redondo */
}

.button__container .button__icon {
    transition: background 0.2s ease, border-radius 0.2s ease;
}

.button__container .button__icon:hover {
    background: var(--terciary-color-opacity-08);
    border-radius: 50%;
}

.button__container .button__icon:focus,
.button__container .button__icon:active {
    background: var(--terciary-color-opacity-12);
    border-radius: 50%;
    outline: none;
}

.button--icon .button__container:focus {
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    outline: none;
}
