/* Primary Button */
.button--primary {
    background: var(--primary-color);
    border: none;
}

.button--primary .button__label {
    color: var(--secondary-color);
}

/* Outlined Button */
.button--outlined {
    background: var(--secondary-color);
    border: 1px solid var(--schemes-outline, #79747E);
}

.button--outlined .button__label {
    color: var(--primary-color);
}

/* Text Button */
.button--text {
    border: 0;
    background: var(--secondary-color);
}

.button--text .button__label {
    color: var(--primary-color);
}
