/* Icon Button Styles */
.button--icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 3rem; /* Tamanho do botão */
    height: 3rem;
    padding: 0.25rem;
    background: transparent; /* Evitando qualquer cor de fundo fora do container */
}

.button--icon .button__container {
    border-radius: 50%; /* Forma circular */
    background: var(--terciary-color);
    align-self: auto;
    padding: 0;
    transition: background 0.3s ease; /* Transição para hover */
    cursor: pointer;
    outline: none; /* Inicialmente sem outline */
}

.button__icon {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.button__icon .material-symbols-outlined {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-color);
}