/* layout/grid.css */

.grid-container {
    display: grid;
    grid-template-areas: 
        "header header header header header header"
        "intro-text intro-text intro-text intro-image intro-image intro-image"
        "logos logos logos logos logos logos"
        "description description description description description description"
        "feature-item1 feature-item1 feature-item1 feature-item1 feature-item1 feature-item1" 
        "feature-item2 feature-item2 feature-item2 feature-item2 feature-item2 feature-item2"
        "feature-item3 feature-item3 feature-item3 feature-item3 feature-item3 feature-item3" 
        "stats stats stats stats stats stats"
        "customers-title customers-title customers-title customers-title nav-prev nav-next"
    "testimonial1 testimonial1 testimonial2 testimonial2 testimonial3 testimonial3";
    grid-row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr); /* Define 6 colunas de tamanho igual */
}

/* hero-section */

.intro-text {
  grid-area: intro-text;
}

.intro-image {
  grid-area: intro-image;
}

/*  */

.logos {
    grid-area: logos;
}

/*  */

.description {
  grid-area: description;
}

/*  */

.feature-item1 {
    grid-area: feature-item1;
}

.feature-item2 {
    grid-area: feature-item2;
}

.feature-item3 {
    grid-area: feature-item3;
}

.feature-item4 {
    grid-area: feature-item4;
}

/* Alternar ordem: imagem à esquerda em ímpares, imagem à direita em pares */
.feature-item:nth-child(odd) {
    grid-template-columns: 1fr 2fr; /* Imagem à esquerda, texto à direita */
}

.feature-item:nth-child(even) {
    grid-template-columns: 2fr 1fr; /* Texto à esquerda, imagem à direita */
    direction: rtl; /* Inverte o fluxo */
}

.feature-item:nth-child(even) .text-content {
    direction: ltr; /* Corrige o texto de volta para o alinhamento normal */
}

/*  */

.stats-section {
    grid-area: stats;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stat1, .stat2, .stat3 {
  display: grid;
  place-items: center;
}

.stat1, .stat2, .stat3 {
  display: grid; /* Usando grid para o alinhamento centralizado */
  place-items: center; /* Centraliza o conteúdo em ambas as direções (horizontal e vertical) */
  /* background: #DFECFC; */
}

.customers-title {
    grid-area: customers-title;
}

.nav-prev {
  grid-area: nav-prev;
}

.nav-next {
  grid-area: nav-next;
}

.testimonial1, .testimonial2, .testimonial3 {
  grid-area: testimonial1;
}

.testimonial2 {
  grid-area: testimonial2;
}

.testimonial3 {
  grid-area: testimonial3;
}