.page__features {
    display: flex;
    max-height: 106.25rem;
    padding: 5.9375rem 8.78% 8.4375rem 8.78%;
    flex-direction: column;
    justify-content: center; /* Alinha o conteúdo verticalmente */
    align-items: center;     /* Alinha o conteúdo horizontalmente */
    gap: 12.5rem;
}


.features__item {
    display: flex;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
}

.features__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.125rem;
    flex: 1 0 0;
}

.features__image {
    flex: 1 0 0;
    align-self: stretch;
    
    border-radius: 1.75rem;
    background: url("/assets/images/illustrations/image-background.png") lightgray 50% / cover no-repeat;
}