.button--outlined {
    border: 1px solid var(--md-sys-color-outline);
    background: var(--md-sys-color-surface);
}

/* While hovering */
.button--outlined:hover {
    border-radius: 6.25rem;
    background: transparent;
    
    /* Change to: "Filled, hovered, Show Icon=False" */
    animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
    animation-duration: 200ms;
}

/* While pressing */
.button--outlined:focus {
    border: 1px solid var(--md-sys-color-primary);
    background: transparent;
}

.button--outlined:active {
    /* Change to: "Filled, pressed, Show Icon=False" */
    animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
    animation-duration: 200ms;
    background: transparent;
}

.button--outlined .button__container:hover {
    background: var(--md-state-layers-primary-opacity-008);
}

.button--outlined .button__container:focus,
.button--outlined .button__container:active {
    background: var(--md-state-layers-primary-opacity-012);
}

.button--outlined .button__label {
    color: var(--md-sys-color-primary);
}
