.button--tonal .button__container {
    background: var(--md-sys-color-secondary-container);
}


.button--tonal span {
    color: var(--md-sys-color-on-secondary-container);
}

.button--icon span:hover {
    background: var(--md-state-layers-on-secondary-container-opacity-008);
}

.button--icon span:focus,
.button--icon span:active {
    background: var(--md-state-layers-on-secondary-container-opacity-012);
}


