/* Icon Button Styles */
.button--icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--icon-button-size, 3rem); /* Tamanho configurável */
    height: var(--icon-button-size, 3rem);
    padding: 0.25rem;
    background: transparent;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease;
}

.button--icon .button__container {
    border-radius: 50%; /* Forma circular */
    background: var(--md-sys-color-tertiary);
    padding: 0;
    transition: background 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.button__icon {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.button__icon .material-symbols-outlined {
    width: var(--icon-size, 1.5rem); /* Tamanho do ícone configurável */
    height: var(--icon-size, 1.5rem);
    color: var(--primary-color);
    transition: color 0.3s ease;
}