/* base/variables.css */
:root {
    /* Tonal Palettes */
    /** Primary Color **/

    --color-P0: #000000;
    --color-P10: #22005D;
    --color-P20: #381E72;
    --color-P30: #4F378A;
    --color-P40: #644E9F;
    --color-P50: #8069BF;
    --color-P60: #9A83DB;
    --color-P70: #B69DF7;
    --color-P80: #CFBCFF;
    --color-P90: #E9DDFF;
    --color-P95: #F6EEFF;
    --color-P99: #FFFBFF;
    --color-P100: #FFFFFF; 

    /* Secondary Color */
    --color-S0: #000000;
    --color-S10: #1E192B;
    --color-S20: #332D41;
    --color-S30: #4A4459;
    --color-S40: #625B71;
    --color-S50: #7B738B;
    --color-S60: #958DA5;
    --color-S70: #B0A7C0;
    --color-S80: #CCC2DC;
    --color-S90: #E8DEF9;
    --color-S95: #F6EEFF;
    --color-S99: #FFFBFF;
    --color-S100: #FFFFFF;

    /* Tertiary Color */
    --color-T10: #31101D;
    --color-T20: #4A2532;
    --color-T30: #633B48;
    --color-T40: #7E5260;
    --color-T50: #996A78;
    --color-T60: #B58392;
    --color-T70: #D29DAC;
    --color-T80: #EFB8C8;
    --color-T90: #FFD9E3;
    --color-T95: #FFECF0;
    --color-T99: #FFFBFF;
    --color-T100: #FFFFFF;
    
    
    --Schemes-Primary: var(--color-P40);
    --Schemes-On-Primary: var(--color-P100);
    --Schemes-Primary-Container: var(--color-P90);
    --on-primary-container-color: var(--color-P30);
    
    --secondary-color: var(--color-S20); /* Background or secondary surfaces */
    --on-secondary-color: var(--color-S100); /* S-100 */

    --tertiary-color: var(--color-T20);
    --on-tertiary-color: var(--color-T100); /* T-100 */

    /* Primary color with opacity */
    --primary-color-opacity-08: rgba(31, 129, 218, 0.08); /* Consistent base for transparency */
    --primary-color-opacity-12: rgba(31, 129, 218, 0.12); /* Consistent base for transparency */

    /* Secondary color with opacity */
    --secondary-color-opacity-08: rgba(98, 91, 113, 0.08); /* Consistent base for transparency */
    --secondary-color-opacity-12: rgba(98, 91, 113, 0.12); /* Consistent base for transparency */

    /* Tertiary color with opacity */
    --tertiary-color-opacity-08: rgba(125, 82, 96, 0.08);
    --tertiary-color-opacity-12: rgba(125, 82, 96, 0.12);

    /* Text colors */
    --text-on-surface: #1D1B20; /* For text on white or light surfaces */

    /* Fonts and Weights */
    --font-primary: "Roboto", "Helvetica Neue", Arial, sans-serif;
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    
    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --feature-gap: 50px; /* Evitar usar rem para gaps predefinidos */
    
    /* Typography Sizes */
    --display-large-size: 57px;
    --headline-large-size: 32px;
    --title-large-size: 22px;
    --label-large-size: 14px;
    --body-large-size: 16px;
    
    /* Typography Line Heights */
    --display-large-line-height: 64px;
    --headline-large-line-height: 40px;
    --title-large-line-height: 28px;
    --label-large-line-height: 20px;
    --body-large-line-height: 24px;
    
    /* Typography Letter Spacing */
    --display-large-letter-spacing: -0.25px;
    --headline-large-letter-spacing: 0px;
    --title-large-letter-spacing: 0px;
    --label-large-letter-spacing: 0.1px;
    --body-large-letter-spacing: 0.5px;
    
    /* Typography Weights */
    --display-large-font-weight: var(--font-weight-regular);
    --headline-large-font-weight: var(--font-weight-regular);
    --title-large-font-weight: var(--font-weight-regular);
    --label-large-font-weight: var(--font-weight-medium);
    --body-large-font-weight: var(--font-weight-regular);

    --line-height-small: 1.333; /* 133.333% */
    --line-height-medium: 1.428; /* 142.857% */
    --line-height-large: 1.5;   /* 150% */
    
    --body-small-line-height: calc(var(--body-small-size) * var(--line-height-small));
    --body-medium-line-height: calc(var(--body-medium-size) * var(--line-height-medium));
    
    /* Buttons variables */
    --button-transition: 0.2s ease;
    --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --button-radius: 6.25rem;
    --button-shadow-focus: 0px 1px 2px 0px rgba(0, 0, 0, 0.40), 0px 1px 3px 1px rgba(0, 0, 0, 0.20);
}
