/* layout/grid.css */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0px 60px;
}

/* Hero Section */
.hero__text-box {
  padding-left: 60px;
}

.hero__image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero__image {
  flex: 1 0 0;
  align-self: stretch;
}

/* Business Logos Section */

#logos {
  padding: 0px 180px;
}

#logos__images {
  display: flex;
  padding: 55px 94px;
  justify-content: space-between;
}

/* Estilo de itens do grid */
.item {
  background-color: #fff; /* Cor de fundo dos itens */
  padding: 20px; /* Espaçamento interno dos itens */
  border: 1px solid #ccc; /* Borda dos itens */
  border-radius: 4px; /* Bordas arredondadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra dos itens */
}

/* Regras responsivas */
@media (max-width: 768px) {
  .container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta colunas em telas menores */
  }
}