/* layout/business-logos.css */

.client-logos-section {
    /* Layout */
    display: flex;
    padding: 3.125rem 21.075rem;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
    
    /* Style */
    background: linear-gradient(180deg, #FFF 25%, var(--Schemes-On-Primary-Container) 25%);
    
}

.client-logos {
    /* Layout */
    display: flex;
    padding: 3.125rem 6.25rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    
    /* Style */
    border-radius: 0.9375rem;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.client-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
    align-self: stretch;
}

.client-info__title, .client-info__description {
    display: flex;
    height: 3.0625rem;
    flex-direction: column;
    text-align: center;
    align-self: stretch;
}


